@import "../../../style/style.scss";
$size: 100%;

.card {
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main{
  margin-left: auto;
  margin-top: 5%;
}
.SignUp {
  margin-top: 1px;
  font-size: 20px;
  font-weight: 400;
  margin-left: 4%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
td {
  padding-right: 8px;
}
.header {
  background-color: #8f2b2f;
  color: white;
  font-size: x-large;
  font-family: sans-serif;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2e1d1e;
  color: white;
  text-align: center;
  margin-top: 7.2%;
}
.form-field {
  width: 100%;
  padding-right: 1px;
}